#footer {
	.footer-top {
		background-color: #181818;
		color: $white;
		padding: 70px 0 40px;

		@media #{$small-mobile} {
			padding: 30px 0 0;
		}

		.ft-column {
			@media #{$small-mobile} {
				margin-bottom: 30px;
			}

			.ft-col-title {
				margin-bottom: 25px;
				font-size: 18px;
				line-height: 24px;

				@media #{$small-mobile} {
					margin-bottom: 10px;
				}
			}

			&.about {
				.ft-col-content {
					line-height: 25px;
				}
			}

			&.ft-nav {
				ul li {
					padding: 5px 0;
					line-height: 25px;

					a:hover {
						color: $theme-color;
					}
				}
			}
		}
	}

	.footer-bottom {
		background-color: $black;
		color: $white;
		padding: 30px 0;

		.row {
			margin: 0;
			justify-content: space-between;

			@media #{$small-mobile} {
				justify-content: center;
				flex-wrap: wrap;

				.copyright, .social {
					width: 100%;
					text-align: center;
				}

				.copyright {
					margin-bottom: 10px;
				}
			}
		}

		.social {
			a {
				margin-right: 5px;
				background-color: $white;
				color: $black;
				width: 30px;
				height: 30px;
				line-height: 30px;
				text-align: center;
				display: block;

				&:last-child {
					margin-right: 0;
				}

				&:hover {
					background-color: $theme-color;
				}
			}
		}
	}
}

.quick-contact {
	position: fixed;
	right: 20px;
	bottom: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	z-index: 999;

	@media #{$large-mobile} {
		display: none;
	}

	a {
		display: block;
		width: 40px;
		height: 40px;
		position: relative;
		margin-top: 30px;

		i {
			top: 0;
			right: 0;
			display: flex;
			display: -ms-flex;
			align-items: center;
			-ms-flex-align: center;
			justify-content: center;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background: #1182FC;
			position: relative;
			z-index: 9999;
			color: #fff;
		}
	}

	span.phone-number {
		position: absolute;
		top: 1px;
		right: 1px;
		width: 38px;
		height: 38px;
		line-height: 38px;
		border-radius: 38px;
		background: #1182fc;
		overflow: hidden;
		padding-right: 38px;
		@include prefix((transition: all .5s ease-in-out), webkit moz o);
	}

	.btn-call:hover {
		color: inherit;

		span.phone-number {
			width: 150px;
			padding-left: 15px;
			padding-right: 55px;
			background-color: $theme-color;
			color: #2a2a2a;
			font-weight: bold;
		}
	}
}

.quick-contact-mb {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: $theme-color;
	padding: 10px;
	z-index: 9;

	a {
		font-size: 16px;
		font-weight: 600;

		&.mb-phone {
			animation: fadeIn .7s infinite alternate;
		}

		@media #{$large-mobile} {
			&:hover {
				color: inherit;
			}
		}
	}
}

#gotop {
	cursor: pointer;
	border-radius: 50%;
	transition: all 0.6s;
	position: fixed;
	z-index: 10;
	bottom: 55px;
	width: 45px;
	height: 45px;
	text-align: center;
	background-color: $theme-color;
	box-shadow: 0 0 9px 0px rgba(0, 0, 0, 0.34);
	right: 15px;

	i {
		color: white;
		font-size: 21px;
		line-height: 45px;
	}
}